.linkButton {
  display: block;
  width: 100%;
  height: 2.25rem;
  margin-top: 0.7rem;
  background-color: hsl(0, 0%, 20%);
  color: white;
  border: transparent;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-weight: 600;
}

.linkButton:hover {
  background-color: hsl(75, 94%, 57%);
  color: black;
}

.linkButton:active {
  transition: none;
  transform: scale(0.99);
  background-color: hsl(75, 94%, 25%);
  color: black;
}
