html {
  margin:0;
  padding:0;
  height:100%;
}
body {
  margin:0;
  padding:0;
  height:100%;
  background-color: hsl(0, 0%, 8%);
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: hsl(0, 0%, 100%);
}

.weight-600 {
  font-weight: 600;
}

.weight-700 {
  font-weight: 700;
}

